.putData {
  display: flex;
  flex-direction: column;
}
.parcours,
.recipe {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.putItems {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  width: 60%;
  border-style: groove;
  border-radius: 10px;
}
.btnPut {
  display: flex;

  cursor: pointer;
}

.btnWidth {
  width: 33%;
}

.delete {
  width: 30px;
  display: flex;
  cursor: pointer;
}
.btn-close {
  display: flex;
  justify-content: flex-end;
}
